<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MouseHockey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F12FB0FD1C6567030037C1E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12FB1101C6567030037C1E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12FB11B1C6567030037C1E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
